[Unit]
Description="4 Buttons 30 seconds BATAK"
ConditionPathExists=/home/pi/dev/batak/venv/bin/python
After=multi-user.target

[Service]
Type=idle

User=pi
WorkingDirectory=/home/pi/dev/batak
ExecStart=/home/pi/dev/batak/venv/bin/python batak.py

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
